* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: WHEAT;
    font-family: 'Merienda One', cursive;
}

a {
    text-decoration: none;
}

.cont{
    width: 90%;
    max-width: 1100px;
    margin:auto;
}

header{
    padding:40px 0;
}

header .logo {
    text-align: center;
    margin-bottom: 40px; 
}

header .logo p{
    color: #FF5733;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}

header .logo h1{
    color: crimson;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

header form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


header .search-bar {
        width: 70%;
        height: 40px;
        line-height: 40px;
        background: floralwhite;
        padding: 0 20px;
        border-radius: 100px;
        border:none;
        text-align: center;
        font-size: 16px;
}

header .categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header .categories a {
    color: coral;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 700;
}

header .categories a.active {
    color:firebrick;
}

.grid {
	position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s linear ls;
}

.grid.uploaded_img{
    opacity: 1;

}

.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
	width: calc(33.33333% - 20px);
}

.grid .item-cont {
    position: relative;
}

.grid .item img {
    width: 100%;
    cursor: pointer;
    vertical-align: top;
}